[defaults]
inventory = ansible/inventory/localhost.yml
roles_path = ansible/roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
localhost_warning = False

[inventory]
enable_plugins = yaml, ini

